---
import '../styles/global.css';


import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = await Astro.glob('./posts/*.md')
const pageTitle ="blog"
---
<BaseLayout {pageTitle}>

 {allPosts.map((post)=><li></li> <a href={post.url} >{post.frontmatter.title}</a></li> )}

 
    
</BaseLayout>


